.main-container {
  max-width: 1050px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.upload-headline {
  font-size: 72px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.upload-headline-emphasized {
  font-size: 96;
  font-weight: bold;
  background: -webkit-linear-gradient(top, #635bff, #3c3885);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.upload-subtitle {
  font-size: 30px;
  font-weight: 100;
  color: #636e72;
  margin: 15px 0px;
  text-align: left;
}

.upload-subtitle-emphasized {
  font-weight: 600;
}

.drag-drop-container {
  border: 5px #d4d2fb dashed;
  padding: 25px;
  max-width: 1000px;
  width: 100%;
  border-radius: 25px;
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #636e72;
  font-weight: 100;
  font-size: 20px;
}

.drag-drop-button {
  border-radius: 35px;
  background-color: #3c3885;
  padding: 20px 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: white;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  margin-bottom: 10px;
}

.drag-drop-button:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition: transform 0.1s ease-in-out;
}
