* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./images/gradient-background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.light-overlay {
  background-color: white;
  min-height: 100vh;
  width: 100%;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  color: #3c3885;
  font-size: 45px;
  align-items: flex-start;
  font-weight: bold;
  z-index: 1;
}

.title-offset {
  transform: translateY(4.15px);
}

/* Testing the analysis card container */
.test-colour {
  position: relative;
  background-color: #3c3885;
  height: 100vh;
  width: 100%;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
